# add here all the file extentions you dont want to include in your commit


# Created by https://www.gitignore.io/api/webstorm+all

### WebStorm+all ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
Website/.idea/**/workspace.xml
Website/.idea/**/tasks.xml
Website/.idea/dictionaries

# Sensitive or high-churn files:
Website/.idea/**/dataSources/
Website/.idea/**/dataSources.ids
Website/.idea/**/dataSources.xml
Website/.idea/**/dataSources.local.xml
Website/.idea/**/sqlDataSources.xml
Website/.idea/**/dynamic.xml
Website/.idea/**/uiDesigner.xml

# Gradle:
Website/.idea/**/gradle.xml
Website/.idea/**/libraries

# CMake
Website/cmake-build-debug/

# Mongo Explorer plugin:
Website/.idea/**/mongoSettings.xml

## File-based project format:
Website/*.iws

## Plugin-specific files:

# IntelliJ
Website/out/

# mpeltonen/sbt-idea plugin
Website/.idea_modules/

# JIRA plugin
Website/atlassian-ide-plugin.xml

# Cursive Clojure plugin
Website/.idea/replstate.xml

# Ruby plugin and RubyMine
Website/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
Website/com_crashlytics_export_strings.xml
Website/crashlytics.properties
Website/crashlytics-build.properties
Website/fabric.properties

### WebStorm+all Patch ###
# Ignores the whole .idea folder and all .iml files
# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360

Website/.idea/

# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

Website/*.iml
Website/modules.xml
Website/.idea/misc.xml
Website/*.ipr


# End of https://www.gitignore.io/api/webstorm+all
